body {
	background-image: url("galleria.jpg");
}

.container {
	
}

section {
	margin-top: 100px;
	text-align: center;
	background-color: #E8BF73;
	border-style: solid;
	border-color: white;
	border-width: 0.5px;
	padding-bottom: 20px; justify-content : center;	
	margin: auto;
	font-size: 1.5em;
	justify-content: center;
}

.btn {	
	background-color: #FFF6AE; 
	margin-bottom: 10px;
	margin-top: 20px;
}

.btn:hover{
	background-color: #E87D20;
}

#scegli {
	margin:auto;
}