<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Riepilogo dati inseriti</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/riepilogo.css" rel="stylesheet" media="screen"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<nav class="navbar navbar-inverse nav-justified" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Espandi barra di navigazione</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>   
  </div>     
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">  
        <div class="thumbnail">   

	<div>
    	<p th:text="'Nome: ' + ${autore.nome}" />
    </div>
	<div>
    	<p th:text="'Cognome: ' + ${autore.cognome}" />
    </div>
	<div>
    	<p th:text="'Nazionalità: ' + ${autore.nazionalita}" />	
    </div>
	<div>
    	<p th:text="'Data di nascita: ' + ${autore.data_nascita}" />	
    </div>
    	<div>
    	<p  th:text="'Data di morte: ' + ${autore.data_morte}" />	
    </div>
    <form>
	<input class="btn" type = "button" name = "submit" value = "Torna all'area riservata" onclick="location.href='areaRiservata.html'" />
	</form>
	</div>
	</div>
	</div>
	</div>
	
</body>
</html>