<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Riepilogo dati inseriti</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/riepilogo.css" rel="stylesheet" media="screen"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<nav class="navbar navbar-inverse nav-justified" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Espandi barra di navigazione</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>   
  </div>     
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">  
        <div class="thumbnail">   
	<div>
		<p th:text="'Titolo: ' + ${opera.titolo}" />
	</div>
	<div>
		<p th:text="'Anno: ' + ${opera.anno}" />
	</div>
	<div>
		<p th:text="'tecnica: ' + ${opera.tecnica}" />
	</div>
	<div>
		<p th:text="'Dimensioni: ' + ${opera.dimensioni}" />
	</div>
	<div>
		<p
			th:text="'Autore: ' + ${opera.autore.nome} + ' ' + ${opera.autore.cognome}" />
	</div>
	<div>
	<p>Immagine:
		<span th:if="${opera.immagine != null}"><img
			th:attr="src=@{'/image/'+${opera.id}}" style="max-width: 200px;" /></span>
		<span th:if="${opera.immagine == null}">Non impostata</span>
	</p></div>
	<form>
		<input class="btn" type="button" name="submit" value="Torna all'area riservata"
			onclick="location.href='areaRiservata.html'" />
	</form>
	</div>
	</div>
	</div>
	</div>
	
</body>
</html>